[submodule "twenty"]
	path = twenty
	url = git@github.com:AllanMogley/twenty.git
	branch = main
[submodule "openwebui"]
	path = openwebui
	url = git@github.com:AllanMogley/22-open-webui.git
	branch = main
[submodule "tau-bench"]
	path = tau-bench
	url = git@github.com:AllanMogley/23-tau2-bench.git
	branch = main
